@model BangazonWebApp.Models.ProductTypeViewModels.ShowProductTypesViewModel

@{
    ViewData["Title"] = "GroupedProducts";
}

<div>
    <h2>Product Category Information:</h2>
        foreach (var pt in ShowProductTypesViewModel.GroupedProjects)
        {
    
            <div>

            </div>

            }
</div>


