@model IEnumerable<BangazonWebApp.Models.ProductTypeDisplayModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Product Categories</h2>

<p>
    <a asp-action="Create">See the Categories first three Products and the Quanity of Products in Each Category:</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTypeName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTypeName) @item.ProductCount
            </td>
            <td>
                @foreach (var product in item.CategoryProducts){
                <p>@product.Title</p>
                }
            </td>
            <td>
           
            </td>
        </tr>
}
    </tbody>
</table>
