@using Microsoft.AspNetCore.Identity
@using BangazonWebApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*display a link to allow user to create a product to sell. only display link if user is signed in.*@
@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav">
        @*Create a Payment Category controller and add it to the asp-controller input below:*@
        <li><a asp-area="" asp-controller="ProductTypes" asp-action="Index">Product Categories</a></li>
    </ul>


}
